body{
    margin: 0px;
    font-family: 'Karla', sans-serif;
    
}
h1{
    font-size: 40px;
    font-weight: 300;
}
.words-highlight{
    color: rgb(20, 81, 223);
}
h2{
    font-size: 30px;
    font-weight: 200px;
}
.half-width{
    margin-top: 50px;
    margin-left: 10%;
    padding-left: 3%;
    width: 35%;
    float: left;
}
.button{
    
    text-decoration: none;
    background-image: linear-gradient(45deg, skyblue, rgb(9, 165, 226));
    padding: 8px 20px;
    border-radius: 5px;
    color: rgb(5, 33, 158);
    font-weight: 700;    
}
.half-width img{
    width: 90%;
    height: 440px;
}
section{
    height: 560px;
}
.top-section{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
.biography-section{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.middling{
    text-align: center;
}
.latest-work-section{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
}
.latest-work-floating{
    margin-left: 10%;
}
.latest-work-floating img{
    width: 30%;
    height: 300px;
    float: left;
}
.zoom{
    transition: transform .2s;
}
.zoom:hover{
    transform: scale(1.5);
}
.last-section{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
}
.thinner-gray{
    font-size: 10px;
    color: gray;
}
.thinner-black{
    font-size: 12px;
    padding: 10px;
}
.pink-box{
    margin: 0% 30%;
    height: 150px;
    background-color: rgb(179, 6, 170);
    border-radius: 7px;
    color: white;
    text-align: center;
    padding: 15px;
}
.pink-box-P1{
    padding-top: 3%;
    font-size: 15px;
}
.pink-box-P2{
    font-size: 25px;
    font-weight: 500;
}
.footer{
    height: 40px;
    background-color: rgb(75, 124, 238);
    color: rgb(red, green, blue);
}
.footer p{
    padding-top: 5px;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    animation-name: running;
    animation-duration: 90s;
}
@keyframes running {
    0%   {background-color: rgb(75, 124, 238); left:0px; top:0px;}
    25%   {background-color: rgb(75, 124, 238); left:1500px; top:0px;}
    50%   {background-color: rgb(75, 124, 238); left:0px; top:0px;}
    75%   {background-color: rgb(75, 124, 238); left:1500px; top:0px;}
    100%  {background-color: rgb(75, 124, 238); left:0px; top:0px;} 
}